$susy: (
  columns: 12,
  gutters: 1/2,
  //gutter-position: split,
);

$height: 160px;
$base-font-size: 13px;
$base-line-height: 20px;
$base-font-size-medium: 14px;
$base-font-size-large: 16px;

$screen-small: 800px;
$screen-medium: 1200px;
$screen-max: 1300px;
