@charset "UTF-8";

// Libraries
@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";
@import "breakpoint";
@import "susy";

// Partials
@import "settings";
@import "bases";
@import "modules";

@include establish-baseline();

body {
  @include container;
  @extend %sans;
  max-width: $screen-max;
  background-color: $background;

  @include breakpoint($screen-small) {
    padding-left: 20px;
    padding-right: 20px;
    @include adjust-font-size-to($base-font-size-medium);
  }
  @include breakpoint($screen-max) {
    @include adjust-font-size-to($base-font-size-large);
  }
  transition: all 1s;
}

.header {
  background-color: $yellow;
  position: relative;

  h1 {
    width: 100px;
    @include breakpoint($screen-small) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .icon-procon-logo {
    @include adjust-font-size-to(260px);
    color: $black;
    padding: 10px;
    overflow: hidden;
  }
  @include span(12);
  @include breakpoint($screen-small) {
    @include span(3);
  }

  @include breakpoint(max-width $screen-small) {
    &:hover {
      nav {
        opacity: 1;
        height: auto;
        visibility: visible;
      }
    }
  }
}

nav {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all .25s ease;
  z-index: 100;
  @include breakpoint(max-width $screen-small) {
    position: absolute;
    width: 100%;
    background-color: $yellow;
  }

  @include breakpoint($screen-small) {
    height: auto;
    opacity: 1;
  }

  ul {
    border-left: 10px solid darken($yellow, 20%);
  }

  li {
    border-top: 1px solid darken($yellow, 5%);
  }

  li a {
    padding-left: 10px;
    text-decoration: none;
    color: $black;
    @include adjust-leading-to(3);
    display: block;
    width: 100%;
    &:hover {
      text-decoration: underline;
      color: $blue-dark;
    }
  }
}

main {
  @include span(12);
  @include breakpoint($screen-small) {
    @include span(9 last);
  }
  @include container;
}

%clearfix {
  @include clearfix;
}

%section {
  margin: 0;
  //min-height: $height;
  > * {
    margin: 10px;
  }

  @include breakpoint($screen-small) {
    margin-bottom: gutter();
  }
}

.slug {
  @include span(12);
  @extend %section;
  background-color: $gray-darkest;

  h1 {
    @include adjust-font-size-to(30px);
    color: $white;
    @include breakpoint($screen-small) {
      @include adjust-font-size-to(50px);
    }
  }
  p {
    @include adjust-font-size-to(13px);
    color: #DBD3D3;
  }

  li {
    color: $yellow;
    @include adjust-font-size-to(16px, 1.3);
    @extend %gothic;
  }

  aside {
    float: right;
    @include adjust-font-size-to(12px);
    margin-right: 20px;
  }

  a {
    color: $yellow;
  }
}

.label-red {
  background-color: $red;
  color: white;
  border-radius: 2px;
  padding: 2px 6px;
  position: relative;
  top: -4px;
}

.lecture {
  @include span(12);
  @include breakpoint($screen-small) {
    @include span(12 last);
  }
  @include breakpoint($screen-medium) {
    @include span(8);
  }

  @extend %section;
  background-color: $skin-dark;
  > h1 {
    span, div {
      padding: 10px;
    }
    span {
      @include adjust-font-size-to(20px);
      color: $white;
    }
    div {
      @include adjust-font-size-to(20px);
      color: #3C3638;
    }
    .label-red {
      font-size: 80%;
    }
    border-bottom: 4px dashed $gray;
    margin-bottom: 30px;
    padding: 10px;
  }

  p {
    @include adjust-font-size-to(14px, 1.3);
    margin-top: rhythm();
    color: $gray-darkest;
  }

  article {
    padding: 10px;
    margin-top: 20px;
    header h1 {
      display: inline-block;
      vertical-align: middle;
      @include adjust-font-size-to(30px, 1);
      @include breakpoint($screen-small) {
        @include adjust-font-size-to(40px, 1);
      }
    }

    span {
      padding: 2px 6px;
      margin-left: 10px;
      color: white;
      font-weight: bold;
      border-radius: 8px;
      @include adjust-font-size-to(15px);
      vertical-align: middle;
    }
    .label-sat {
      background-color: $green;
    }
    .label-sun {
      background-color: $blue-dark;
    }
    &:first-child {
      border-bottom: 1px solid $gray-darker;
    }
  }

  article + article {
    margin-top: 20px;
  }
}


%small-section {
  @extend %section;
  @include span(12);
}

.entry {
  @extend %small-section;
  @include breakpoint($screen-small) {
    @include span(6);
  }
  @include breakpoint($screen-medium) {
    @include span(4 last);
  }
  background-color: $blue;
  h1 a {
    @extend %serif;
    text-decoration: none;
    @include adjust-font-size-to(20px, 1.2);
  }
  a {
    color: $black;
    &:hover {
      color: $blue-dark;
    }
  }
  ul {
    font-weight: bold;
    list-style: square;
    margin-left: 30px;
    margin-bottom: rhythm();
  }
  aside {
    color: $gray;
    @include adjust-font-size-to(10px);
  }
}

.about-us {
  @extend %small-section;
  @include breakpoint($screen-small) {
    @include span(6 last);
  }
  @include breakpoint($screen-medium) {
    @include span(4 last);
  }
  background-color: $gray-lighter;
  h1 {
    @extend %gothic;
    @include adjust-font-size-to(14px);
    color: $yellow-dark;
  }
  aside {
    float: right;
    margin: 10px;
  }
}
