%label {
  @include adjust-font-size-to(15px);
  padding: 2px 6px;
  color: $white;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

%label-round {
  @extend %label;
  border-radius: 8px;
}

.label {
  @extend %label;
  @extend %gothic;
}
