extend ./layout.jade

block main
  section.simple
    h1 コンテスト内容
    section
      h1
        span.icon-tree
        |  競技部門
      p
        | 主催者が用意する対戦型宝探しゲーム（Chaser）に参加するキャラクターのプログラムを作成し、
        | 総当たり戦もしくはトーナメント方式で競技会を開催します。
        | 対戦型ゲームプラットフォーム上で、参加者が作成するプレイヤープログラム（Java）を使い競技を行います。
        | 競技サーバーに接続し、両プレーヤーはフィールド上に配置されたアイテムを集めながら、１対１で対戦します。
        | 競技会に参加するためのパソコンは用意されていますが、ご自分のパソコンを持ち込むことも可能です。
    section
      h1
        span.icon-image
        |  作品部門
      p
        | コンピュータグラフィックス（静止画、動画、アニメーション）、Webページや自作のプログラムなど、
        | 自由に作成したデジタル作品を審査員が評価します。
        | デジタルコンテンツ（ソフトウェアを利用）として表現されている作品であること、 またはソフトウェアを利用したデジタルコンテンツとして表現されている作品であること。
      br
      ul.list-circle
        li コンピュータグラフィックス各種(2D,3D,映像 等)
        li Webコンテンツ（Webページ、Webサイト）
        li モバイルコンテンツ（ガラケーやスマートフォン向け）
        li 音楽（パソコンで作成・加工したデスクトップ・ミュージック、初音ミクなど）
        li 各種ソフトウェア利用のデジタルコンテンツ作品
        li その他、プログラムを用いた作品
