extends layout.jade

block foot
  div.
    <section class="about-us" id="about-us">
      <h1>U-16旭川プログラミングコンテスト実行委員会</h1>
      <p>16歳以下の学生達に、自分の腕試しをするための場を提供しようと
        毎年プログラミングコンテストを開催しています。
      </p>
      <aside>
        <a href="/old_contents/319.html">もっと詳しく！</a>
      </aside>
    </section>

block main
  div.
    <section class="simple">
      <h1><span class="icon-rss"></span>お知らせ一覧</h1>
      <ul class="simple-list">
        <li>
          <time datetime="2014-12-14">12月14日</time>
          <p>コンテストの結果を<a href="./result-2014.html">こちらに</a>掲載しました。</p>
        </li>
        <li>
          <time datetime="2014-08-20">8月20日</time>
          <p>実行環境のイメージなどの配布を開始しました。
            <ul class="list-circle">
              <li>
                <a target="_blank" href="https://drive.google.com/file/d/0B-ux0O0l8SYyR0dRZFhkQjl3bGM/edit?usp=sharing">
                実行環境イメージ（2.4GB)</a>
              </li>
              <li>
                <a target="_blank" href="./files/プログラミングコンテスト用環境構築方法.pdf">プログラミングコンテスト用環境構築方法</a>
              </li>
              <li>
                <a target="_blank" href="./files/競技マニュアルver1.00.pdf">競技マニュアル</a>
              </li>
            </ul>
          </p>
        </li>
        <li>
          <time datetime="2014-08-03">8月3日</time>
          <p>組立PC講座が無事に終了しました。当日のマニュアルは<a target="_blank" href="./files/2014年度U-16旭川プロコン各種情報集.pdf">こちら(2014年度U-16旭川プロコン各種情報集)</a>をご覧ください。</p>
        </li>
      </ul>
    </section>

    <section class="slug">
      <header>
        <h2>開催日</h2>
        <h1>
          <span class="slug-date-year">2014.</span>
          <span class="slug-date">11.15</span>
          <span class="slug-date-dow">(土)</span>
        </h1>
      </header>
      <ul>
        <li><span class="label-slug">コンテスト会場</span>旭川市科学館 特別展示室</li>
        <li><span class="label-slug">同時開催</span>第２回U-16北海道プログラミングコンテスト</li>
      </ul>
      <aside>
        <a href="/contest.html">
          コンテスト内容についての詳細
          <span class="icon-arrow-right"></span>
        </a>
      </aside>
    </section>

    <section class="entry">
      <h1>
        <a target="_blank" href="mailto:info@procon-asahikawa.org"><span class="icon-pencil"></span>エントリーする</a>
      </h1>
      <p>以下の必須項目を明記の上
        <a target="_blank" href="mailto:info@procon-asahikawa.org">info@procon-asahikawa.org</a>
        へ参加申し込みください。</p>
      <aside>※参加部門は「競技」・「作品」から選択。（2つ選択してもよい）</aside>
      <ul>
        <li>名前</li>
        <li>学校名・学年</li>
        <li>Email</li>
        <li>参加部門</li>
        <li>組立PC講座に参加するかどうか</li>
      </ul>
      <p>また、質問や希望などあれば、お知らせください。</p>
    </section>

    <section class="demae">
      <h1>出張講習会</h1>
      <p>希望する学校への出張講習会も対応できますので気軽にご相談ください。</p>
    </section>
