extend layout.jade

block main
  section.simple
    h1 第四回Ｕ-16旭川プログラミングコンテスト 最終結果
    section
      h1 U-16旭川プログラミングコンテスト 競技部門
      table
        tr
          td 優勝
          td 鬼塚晃任
          td 旭川市立神居中学校 2年
        tr
          td 準優勝
          td 中尾空
          td 北海道旭川工業高等学校 1年
        tr
          td 第三位
          td 木村至孝
          td 旭川市立神居中学校 3年
        tr
          td 旭川市教育長賞
          td 伊藤凪沙
          td 北海道旭川工業高等学校 1年
    section
      h1 U-16旭川プログラミングコンテスト 作品部門
      table
        tr
          td 審査委員長特別賞
          td 平林健
          td 北海道教育大学附属旭川中学校 3年
    section
      h1 U-16北海道プログラミングコンテスト 競技部門
      table
        tr
          td 優勝
          td 篠田裕人
          td 北海道教育大学附属釧路中学校 2年
        tr
          td 準優勝 
          td 松田智貴
          td 釧路工業高等専門学校 1年
        tr
          td 第三位
          td 鬼塚晃任
          td 旭川市立神居中学校 2年
        tr
          td 審判委員長特別賞
          td 中尾空
          td 北海道旭川工業高等学校 1年
