@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* Icon Font: fontcustom
*/
@font-face { font-family: "fontcustom"; src: url("../fonts/fontcustom_116181218b6a54b616bd59b74caaf168.eot"); src: url("../fonts/fontcustom_116181218b6a54b616bd59b74caaf168.eot?#iefix") format("embedded-opentype"), url("../fonts/fontcustom_116181218b6a54b616bd59b74caaf168.woff") format("woff"), url("../fonts/fontcustom_116181218b6a54b616bd59b74caaf168.ttf") format("truetype"), url("../fonts/fontcustom_116181218b6a54b616bd59b74caaf168.svg#fontcustom") format("svg"); font-weight: normal; font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { @font-face { font-family: "fontcustom"; src: url("../fonts/fontcustom_116181218b6a54b616bd59b74caaf168.svg#fontcustom") format("svg"); } }
[data-icon]:before { content: attr(data-icon); }

[data-icon]:before, .icon-arrow-down:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-arrow-up:before, .icon-download:before, .icon-image:before, .icon-mail:before, .icon-music:before, .icon-pencil:before, .icon-play:before, .icon-popup:before, .icon-profile:before, .icon-rss:before, .icon-table:before, .icon-tree:before { display: inline-block; font-family: "fontcustom"; font-style: normal; font-weight: normal; font-variant: normal; line-height: 1; text-decoration: inherit; text-rendering: optimizeLegibility; text-transform: none; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; }

.icon-arrow-down:before { content: "\f100"; }

.icon-arrow-left:before { content: "\f101"; }

.icon-arrow-right:before { content: "\f102"; }

.icon-arrow-up:before { content: "\f103"; }

.icon-download:before { content: "\f104"; }

.icon-image:before { content: "\f105"; }

.icon-mail:before { content: "\f106"; }

.icon-music:before { content: "\f107"; }

.icon-pencil:before { content: "\f108"; }

.icon-play:before { content: "\f109"; }

.icon-popup:before { content: "\f10a"; }

.icon-profile:before { content: "\f10b"; }

.icon-rss:before { content: "\f10c"; }

.icon-table:before { content: "\f10d"; }

.icon-tree:before { content: "\f10e"; }

html { font-size: 100%; line-height: 1.5em; }

body { font-family: "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", Meiryo, fantasy; }

.label, .label-skin, .header > p, .simple-list time, .about-us h1, .contest-details > h1 { font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; }

.entry h1 a, .demae h1 { font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif; }

.label, .label-skin { padding: 2px 6px; color: white; font-weight: bold; vertical-align: middle; display: inline-block; }

.label-skin { color: #ccb1b4; background-color: white; }

.slug .slug-date { font-size: 3.84615em; line-height: 1.2em; }
@media (min-width: 800px) { .slug .slug-date { font-size: 4.61538em; line-height: 1.33333em; } }

.slug h2, .slug .slug-date-year, .simple > h1, .contest-details > h1 { font-size: 2.30769em; line-height: 1.33333em; }
@media (min-width: 800px) { .slug h2, .slug .slug-date-year, .simple > h1, .contest-details > h1 { font-size: 3.07692em; line-height: 1.5em; } }

.slug .slug-date-dow, .simple section h1, .entry h1 a, .demae h1, .contest-details-kyogi h1, .contest-details-sakuhin h1 { font-size: 1.69231em; line-height: 1.81818em; line-height: 1.53846em; }

.slug li, .slug aside a, .simple-list > li, .about-us h1 { font-size: 1.15385em; line-height: 1.33333em; line-height: 1.53846em; }

p, .simple-list p { font-size: 1em; line-height: 1.53846em; line-height: 2em; }

aside, small, .list-circle a, .list-circle p, .entry li, .entry p, .about-us p, .demae p { font-size: 0.84615em; line-height: 1.81818em; }

.entry aside { font-size: 0.69231em; line-height: 2.22222em; line-height: 1.53846em; }

a, a:hover, a:visited { color: #1790ab; transition: color 300ms; }

body { max-width: 100%; margin-left: auto; margin-right: auto; max-width: 1300px; background-color: #f8f9ec; transition: all 1s; }
body:after { content: " "; display: block; clear: both; }
@media (min-width: 800px) { body { padding-left: 20px; padding-right: 20px; font-size: 1.07692em; line-height: 1.42857em; } }
@media (min-width: 1300px) { body { font-size: 1.23077em; line-height: 1.25em; } }

.header { width: 100%; float: left; margin-left: 0; margin-right: 0; background-color: #f7c974; position: relative; }
@media (min-width: 800px) { .header { width: 22.85714%; float: left; margin-right: 2.85714%; } }
@media (max-width: 800px) { .header:hover nav { opacity: 1; height: auto; visibility: visible; } }
.header h1 { width: 100px; }
@media (min-width: 800px) { .header h1 { width: 100%; } }
.header h1 img { width: 100%; height: 100%; }
.header .icon-procon-logo { font-size: 20em; line-height: 1.07692em; color: #010101; padding: 10px; overflow: hidden; }
.header ul a { font-size: 0.69231em; line-height: 4.44444em; color: #010101; }
@media (min-width: 1200px) { .header ul a { font-size: 0.92308em; line-height: 4.33333em; } }
.header > p { color: white; }
@media (min-width: 800px) { .header > p { text-align: center; } }

nav { overflow: hidden; height: 0; opacity: 0; transition: all .25s ease; z-index: 100; }
@media (max-width: 800px) { nav { position: absolute; width: 100%; background-color: #f7c974; } }
@media (min-width: 800px) { nav { height: auto; opacity: 1; } }
nav ul { border-left: 8px solid #f1a414; }
nav li { border-top: 1px solid #f6c05c; }
nav li a { padding-left: 10px; text-decoration: none; color: #010101; line-height: 4.61538em; display: block; width: 100%; }
nav li a:hover { text-decoration: underline; color: #1790ab; }

main { width: 100%; float: left; margin-left: 0; margin-right: 0; max-width: 100%; margin-left: auto; margin-right: auto; }
@media (min-width: 800px) { main { width: 74.28571%; float: right; margin-right: 0; } }
main:after { content: " "; display: block; clear: both; }

main:before, main:after { content: " "; display: table; }
main:after { clear: both; }

.slug > *, .simple > *, .contest-details-kyogi > *, .contest-details-sakuhin > *, .entry > *, .about-us > *, .demae > * { margin: 10px; }
@media (min-width: 800px) { .slug, .simple, .contest-details-kyogi, .contest-details-sakuhin, .entry, .about-us, .demae { margin-bottom: 2.85714%; } }

@media (min-width: 800px) { .slug > *, .simple > *, .contest-details-kyogi > *, .contest-details-sakuhin > * { margin: 20px; } }

.slug { width: 100%; float: left; margin-left: 0; margin-right: 0; background-color: #232022; }
.slug h2 { background-color: #a4d2dc; color: #232022; display: inline; border-radius: 4px; padding: 4px 10px; }
.slug h1 { color: white; }
.slug ul { margin-top: 1.53846em; }
.slug li { line-height: 3.07692em; color: white; }
.slug aside { float: right; margin-right: 20px; }
.slug aside a { color: #f7c974; }
.slug .label-slug { border: 3px solid #f8f9ec; padding: 4px 10px; margin-right: 10px; }

.label-blue { padding: 4px 10px; color: white; background-color: #1790ab; }

.simple { width: 100%; float: left; margin-left: 0; margin-right: 0; color: #232022; box-sizing: border-box; }
@media (min-width: 800px) { .simple { border: 6px solid #232022; } }
.simple > h1 { color: #232022; margin-bottom: 30px; }
.simple section { margin-top: 30px; }
.simple section h1 { margin-bottom: 20px; }

.simple-list time { color: white; background: #232022; padding: 4px 8px; margin-right: 20px; }
.simple-list > li { margin-top: 20px; line-height: 1.84615em; }

.list-circle { list-style-type: circle; list-style-position: inside; }
.list-circle p { margin-left: 20px; }
.list-circle time { margin-right: 10px; }
.list-circle li { margin-bottom: 20px; }

.entry, .about-us, .demae { width: 100%; float: left; margin-left: 0; margin-right: 0; }

.entry { background-color: #a4d2dc; }
@media (min-width: 800px) { .entry { width: 48.57143%; float: left; margin-right: 2.85714%; } }
.entry h1 a { text-decoration: none; }
.entry h1 span { font-size: 100%; }
.entry a { color: #010101; }
.entry a:hover { color: #1790ab; }
.entry ul { list-style: square; margin-left: 30px; margin-bottom: 1.53846em; }
.entry aside { color: #634e5d; }

.about-us { width: 100%; float: left; margin-left: 0; margin-right: 0; background-color: #fbfbfb; }
@media (min-width: 800px) { .about-us { width: 22.85714%; float: left; margin-right: 2.85714%; margin-top: 1.53846em; } }
.about-us h1 { color: #f1a414; }
.about-us aside { float: right; margin: 10px; }

.demae { background-color: #41d790; }
@media (min-width: 800px) { .demae { width: 48.57143%; float: right; margin-right: 0; } }

.contest-details { width: 100%; float: left; margin-left: 0; margin-right: 0; max-width: 100%; margin-left: auto; margin-right: auto; background-color: #f1f3d9; }
.contest-details:after { content: " "; display: block; clear: both; }
.contest-details > h1 { text-align: center; background-color: #232022; color: white; }

.contest-details-kyogi { width: 100%; float: left; margin-left: 0; margin-right: 0; }
@media (min-width: 800px) { .contest-details-kyogi { width: 48.57143%; float: left; margin-right: 2.85714%; } }

.contest-details-sakuhin { width: 100%; float: left; margin-left: 0; margin-right: 0; }
@media (min-width: 800px) { .contest-details-sakuhin { width: 48.57143%; float: right; margin-right: 0; } }

td { padding: 10px 16px; }
