$white: #ffffff;
$black: #010101;
$green: #41d790;
$yellow: #f7c974;
$yellow-dark: darken($yellow, 20%);
$skin: #f2dba5;
$skin-dark: #ccb1b4;
$pink: #f0c2b4;
$red: #dc8686;
$red-dark: #b16f70;
$blue: #a4d2dc;
$blue-dark: #1790AB;
$gray: #634e5d;
$gray-lighter: #fbfbfb;
$gray-darker: #d4d4d4;
$gray-darkest: #232022;
$background: #f8e9dd;
