%label {
  padding: 2px 6px;
  color: $white;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

%label-round {
  @extend %label;
  border-radius: 20px;
}

.label {
  @extend %label;
  @extend %gothic;
}

.label-skin {
  @extend %gothic;
  @extend %label;
  color: $skin-dark;
  background-color: $white;
}
